.icon-size{
    width: 32%;
    height: 32%;
    font-size: 200px;
    inline-size: auto;
    margin: 1%;
}

.fonts{
    font-weight: bold;
    font-size: large;
}

.divy{
    width: 32%;
    height: 32%;
    text-align: center;
    float: left;
}

.divy:hover{
    background-color: purple;
}

button{
    border: 0;
    background-color: #fff;
}