<h1 class="text-center">Admin Portel</h1>
<div class="container">
    <div class="divy">
        <button (click)="userList()">
            <mat-icon class="icon-size">supervised_user_circle</mat-icon>
            <div class="fonts">Users List</div>
        </button>
    </div>
    <div class="divy">
        <button (click)="adminList()">
            <mat-icon class="icon-size">supervisor_account</mat-icon>
            <div class="fonts">Admin List</div>
        </button>
    </div>
    <div class="divy">
        <button (click)="productList()">
            <mat-icon class="icon-size">add_shopping_cart</mat-icon>
            <div class="fonts">Users List</div>
        </button>
    </div>
</div>