<h1 class="text-center">List of Users</h1>
<div class="container">
    <table class="table table-striped table-hover">
        <thead class="dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
               <th>{{user.id}}</th>
               <td>{{user.name}}</td>
               <td>{{user.email}}</td>
               <td>
                <button class="btn btn-info" (click)="updateUser(user.id)">Update</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>&nbsp;
                <button class="btn btn-light" (click)="userDetail(user.id)">Details</button>
               </td>
            </tr>
        </tbody>

    </table>
</div>
