<div class="container">
    <h1 class="text-center">Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of cartProducts">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><input type="number" class="form-control" name="counter" [(ngModel)]="product.counter"></td>
                    <!-- <div>
                        <p ngIf="counter.value" class="alert alert-danger">Not less than zero</p>
                    </div> -->
                    <td><input type="text" class="form-control" name="subTotal" #subTotal="ngModel" [(ngModel)]="product.price * product.counter" disabled ></td>
                </tr>
                <tr>
                    <th colspan="4"><button class="btn btn-success" style="float:right" type="button" (click)="onConfirm()">Confirm</button></th>
                </tr>
            </tbody>
        </table>
        <!-- <div #container></div> -->
        <!-- <app-confirmation [grandTotal]="grandTotal"></app-confirmation> -->
</div>