<div class="container">
    <h1 class="text-center">Orders List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Invoice no.</th>
                <th>Description</th>
                <th>Customer name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderList;let i = index">
                <th>{{i+1}}</th>
                <td>{{order.invoiceNo}}</td>
                <td>{{order.productName}} x {{order.quantity}}</td>
                <td>{{order.userName}}</td>
                <td>
                    <select class="form-control" name="status" [(ngModel)]="order.status">
                        <option
                            [value]="status" 
                            *ngFor="let status of statusList"
                            >{{status}}
                        </option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-info sm" type="button" (click)="updateStatus(order)">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>