<div class="container">
    <h1 class="text-center">Add Product</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="product.description">
        </div>
        <div class="form-group">
            <label for="imgSource" class="form-label">Image Url</label>
            <input type="text" class="form-control" name="imgSource" [(ngModel)]="product.imgSource">
        </div>
        <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" [(ngModel)]="product.price">
        </div>
        <div class="form-group">
            <label for="cuisnie" class="form-label">Cuisine</label>
            <select name="cuisine" class="form-control" [(ngModel)]="product.cuisine">
                <option [value]="cuisine.cuisineName" *ngFor="let cuisine of cuisines">
                    {{cuisine.id}} {{cuisine.cuisineName}}
                </option>
            </select>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>