<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">
        <label>Foodbox</label>
        <hr />
        <nav>
            <a routerLink="home" (click)="clickHandler()" routerLinkActive="active">Home</a>
            <div *ngIf="auth==='Admin'">
                <a routerLink="portel" (click)="clickHandler()" routerLinkActive="active">Portel</a>
            </div>
            <!-- <a routerLink="about" (click)="clickHandler()" routerLinkActive="active">About</a> -->
            <a routerLink="login" (click)="clickHandler()" routerLinkActive="active">Login</a>
            <a routerLink="user-registration" (click)="clickHandler()" routerLinkActive="active">Sign Up</a>
            <!-- <a routerLink="contact" (click)="clickHandler()" routerLinkActive="active">Contact</a> -->
            <span *ngIf="auth === 'User'">
                <a routerLink="cart" (click)="clickHandler()"
                    routerLinkActive="active"><mat-icon>shopping_cart</mat-icon></a>
            </span>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <header>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                <label>Foodbox.com</label>
                <nav>
                    <a routerLink="home" routerLinkActive="active">Home</a>
                    <a routerLink="portel" routerLinkActive="active" *ngIf="auth==='Admin'">Portel</a>
                    <!-- <a routerLink="about" routerLinkActive="active">About</a> -->
                    <a routerLink="login" routerLinkActive="active">Login</a>
                    <a routerLink="user-registration" routerLinkActive="active">Sign Up</a>
                    <!-- <a routerLink="contact" routerLinkActive="active">Contact</a> -->
                    <span *ngIf="auth === 'User'">
                        <a class="icon" routerLink="cart" routerLinkActive="active">Cart</a>
                    </span>
                </nav>
            </header>
        </mat-toolbar>
        <section>
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>