<div class="container">
    <div class="card floating-card div-hover" (click)="user()">
        <img src="https://img.freepik.com/free-vector/online-review-concept-illustration_114360-2155.jpg?w=740&t=st=1685691521~exp=1685692121~hmac=a184b746b7238d31a8cc2c59492dfdd48092f2cc953dcf8988d23d30098d1430" class="card-img-top" alt="User">
        <div class="card-body">
            <h1>User</h1>
        </div>
    </div>
    <div class="card floating-card div-hover" (click)="admin()">
        <img src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1447.jpg?w=740&t=st=1685691330~exp=1685691930~hmac=b2f188405028df07e36c4ab1d8f0b55dd53bf9945dd2459e78b5641991ce2e09" class="card-img-top" alt="Admin">
        <div class="card-body">
            <h1>Admin</h1>
        </div>
    </div>
</div>