<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li class="liHead">COMPANY</li><br>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> About us </a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank">Team</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank">Careers</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank">Foodbox Blog</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="liHead">CONTACT</li><br>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Help & Support</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Partner with us</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Ride with us</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="liHead">LEGAL</li><br>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank">Terms & Conditions</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Refund & Cancellation</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Privacy Policy</a></li>
                    <li><a href="https://img.freepik.com/free-vector/construction-set-icons_24877-60028.jpg?w=740&t=st=1686837653~exp=1686838253~hmac=373801a4e5af7859b234cf42b133821d37024f6a2885f2de01a9b4f8b3542c92" target="_blank"> Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col">
                <a href="" rel="nofollow noopener" alt="" target="_blank" class="AppDownloadLinks_appLink__3lQqz" data-testid="ios-appstore"><img alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv"></a>
                <a href="" rel="nofollow noopener" alt="" target="_blank" class="AppDownloadLinks_appLink__3lQqz" data-testid="android-playstore"><img alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl"></a>
            </div>
        </div>
    </div>
</div>