<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li class="liHead">COMPANY</li><br>
                    <li><a href=""> About us </a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Foodbox Blog</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="liHead">CONTACT</li><br>
                    <li><a href=""> Help & Support</a></li>
                    <li><a href=""> Partner with us</a></li>
                    <li><a href=""> Ride with us</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="liHead">LEGAL</li><br>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href=""> Refund & Cancellation</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                    <li><a href=""> Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col">
                <a href="" rel="nofollow noopener" alt="" target="_blank" class="AppDownloadLinks_appLink__3lQqz" data-testid="ios-appstore"><img alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv"></a>
                <a href="" rel="nofollow noopener" alt="" target="_blank" class="AppDownloadLinks_appLink__3lQqz" data-testid="android-playstore"><img alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl"></a>
            </div>
        </div>
    </div>
</div>