<div class="container">
    <table class="table table-striped table hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Cuisine</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of product">
                <th>{{product.pid}}</th>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td><img src="{{product.imgSource}}" alt="loading..." class="img-size"></td>
                <td>{{product.price}}</td>
                <td>{{product.cuisine}}</td>
                <td><button class="btn btn-info" (click)="updateProduct(product.pid)">Update</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteProduct(product.pid)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
